body {
 font-family: "Inter", sans-serif;
}
.full-width {
 max-width: 100%;
}
.full-height {
 min-height: 100vh;
}
.custom-padding {
 padding: 80px;
}
.text-size-custom {
 font-size: 1.5rem !important;
}
.input-container {
 display: flex;
 justify-content: space-between;
 max-width: 50rem;
 margin: 0 auto;
 border-radius: 5px;
}

.lists-container {
 max-width: 50rem;
}

.form-control::placeholder {
 color: #aaa;
}

.centered-gray-text {
 color: gray;
 text-align: center;
}

button.btn-success {
 background-color: #28a745;
 color: white;
}

button.btn-success:hover {
 background-color: #32cd32;
}

button.btn-danger {
 background-color: #ff1a1a;
 color: white;
}

button.btn-danger:hover {
 background-color: #ff4d4d;
}

button.btn-success,
button.btn-danger {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0.5rem 1rem;
 border-radius: 5px;
 border: none;
}

button.btn-success .ms-2 {
 margin-left: 0.5rem;
}
